html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    background-color: #FFDEE9;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  }
  
  body { 
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.5;
    height: 100vh;
  }
  

/** Generales **/
h1 {
    font-size: 2.8rem;
}

h2 {
    font-size: 2.6rem;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

.seccion {
    margin: 5rem 0;
}


/** Utilidades **/
.m-0 {
    margin: 0;
}

.p-0 {
    padding: 0;
}

.fw-normal {
    font-weight: normal;
}

.text-center {
    text-align: center;
}


.boton {background-image: linear-gradient(to right, #314755 0%, #26a0da  51%, #314755  100%)}
.boton {
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   border-radius: 10px;
   display: block;
 }

 .boton:hover {
   background-position: right center;
   color: #fff;
   text-decoration: none;
 }


.boton:hover {
    background-color: #0850bd;
}


/** Header **/
.navegacion-principal {
    /* background-color: #0d6efd; */
    padding: 2.5rem;
}

.navegacion-items {
    display: flex;
    justify-content: space-evenly;
}

.navegacion-link {
    font-size: 1.8rem;
    color: #fff
}


/** Body **/
.main {
    font-family: 'Open Sans', sans-serif;
}

.titulo {
    color: #282a2c;
    font-size: 2.8rem;
    letter-spacing: .5px;
}

.subtitulo {
    color: #5e6266;
    font-size: 2.4rem;
}


.contenido-principal {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 35px;
}

.contenido-principal .img {
    grid-column: 1 / 2;
    grid-row: 1;
    background-size: cover;
}

.img-body {
    border-radius: 8px;
}

.contenido-principal .info {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}


/** Footer **/
.footer {
    text-align: center;
}

.copyright {
    font-size: 2rem;
    font-weight: bold;
    font-size: 1.6rem;
    color: #000;
}
